body, div, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, fieldset, form, tr, th, td, center, input, button, textarea {
  padding: 0;
  margin: 0; }

/*基础设置ˉ*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 12px; }

input, img, select {
  vertical-align: middle; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

.left {
  float: left; }

.right {
  float: right; }

.txthide {
  text-indent: -9999em;
  overflow: hidden;
  line-height: 0;
  font-size: 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

em, i {
  font-style: normal; }

/* float */
.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.clear {
  clear: both; }

/* a */
a {
  color: #333;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #5bbec7; }

body {
  margin: 0 auto;
  font: 14px/1.2 "微软雅黑";
  color: #333; }

.wrapper-header {
  width: 1200px;
  margin: 0 auto; }

.wrapper {
  width: 940px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.abs {
  position: absolute; }

.disabled {
  pointer-events: none;
  cursor: default;
  color: #999; }

.btn-more {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  background: #63d1da;
  color: #fff;
  border-radius: 4px;
  position: relative; }
  .btn-more:hover {
    background: rgba(99, 209, 218, 0.8);
    color: #fff; }

.img-container {
  overflow: hidden; }
  .img-container img {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .img-container img:hover {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2); }

.header {
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }
  .header .logo {
    float: left;
    margin-top: 15px; }
  .header .nav {
    float: right; }
    .header .nav li {
      float: left;
      height: 30px;
      margin: 35px 20px 0 0;
      cursor: pointer;
      position: relative; }
      .header .nav li:hover .nav-secondary {
        display: block; }
      .header .nav li:hover > a {
        color: #fff;
        border-radius: 4px;
        background: #5bbec7; }
        .header .nav li:hover > a:hover {
          color: #fff;
          border-radius: 4px;
          background: #5bbec7; }
      .header .nav li a {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .header .nav li a.active {
          color: #fff;
          border-radius: 4px;
          background: #5bbec7; }
      .header .nav li .nav-secondary {
        display: none;
        position: absolute;
        top: 30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        z-index: 2;
        min-width: 100%;
        padding: 4px 0; }
        .header .nav li .nav-secondary li {
          float: none;
          margin: 0;
          padding: 0; }
          .header .nav li .nav-secondary li:first-child a {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px; }
          .header .nav li .nav-secondary li:last-child a {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
        .header .nav li .nav-secondary a {
          display: block;
          min-width: 100%;
          height: 30px;
          padding: 0;
          background: #5bbec7;
          line-height: 30px;
          text-align: center;
          color: #fff; }
          .header .nav li .nav-secondary a:hover {
            opacity: 0.8;
            border-radius: 0; }
  .header .search-bar {
    width: 97px;
    height: 30px;
    margin-top: 34px;
    padding: 0 36px 0 10px;
    border: 1px solid #d8d5d5;
    border-radius: 4px;
    background-color: #d9d8d8;
    box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.11);
    position: relative; }
    .header .search-bar input {
      width: 100%;
      height: 30px;
      background: none;
      border: 0; }
    .header .search-bar button {
      background: rgba(91, 190, 199, 0.7);
      position: absolute;
      right: 0px;
      top: 0px;
      width: 32px;
      height: 31px;
      border: 0;
      cursor: pointer;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
      .header .search-bar button:after {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background: url(../img/spr.png) no-repeat 0 0;
        margin-left: 10px; }

.footer {
  height: 260px;
  margin-top: -260px;
  position: relative; }
  .footer .wrapper {
    position: relative;
    z-index: 1; }
  .footer .footer-upper {
    padding-top: 30px; }
  .footer .logo2 {
    margin-bottom: 10px; }
    .footer .logo2 a {
      float: right; }
  .footer .nav-footer li {
    float: left;
    padding: 0 40px 0 0;
    border-right: 1px solid #fafdff;
    position: relative; }
    .footer .nav-footer li a {
      display: block;
      color: #969696;
      margin-bottom: 10px; }
      .footer .nav-footer li a:hover {
        color: #5bbec7; }
      .footer .nav-footer li a:first-child {
        font-size: 16px;
        color: #1b1b1b;
        font-weight:normal; }
  .footer .web-info {
    background: #f9f9f9;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 40px; }
  .footer .qr .fl {
    margin-right: 15px; }
    .footer .qr .fl img {
      display: block;
      width: 100px;
      margin: 0 auto 10px; }
    .footer .qr .fl p {
      font-size: 12px;
      background: #5bbec7;
      border-radius: 4px;
      color: #fff;
      padding: 5px; }
  .footer .qr .fr p {
    padding: 0 0 10px 0;
    text-align: right; }
  .footer .qr .fr .phone {
    font-size: 16px;
    color: #5bbec7; }
  .footer .qr .fr .date {
    font-size: 12px;
    background: none; }
  .footer .qr .fr a {
    display: block;
    padding: 10px 5px;
    border: 3px solid #5bbec7;
    text-align: center; }

.company-intro {
  margin-top: 50px;
  font-size: 16px;
  color: #666;
  text-align: center;
  line-height: 24px; }

/*
 * Swiper 2.7.6
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: February 11, 2015
*/
/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  -webkit-transition-property: left, top, -webkit-transform;
  transition-property: left, top, -webkit-transform;
  transition-property: transform, left, top;
  transition-property: transform, left, top, -webkit-transform;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  box-sizing: content-box; }

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  float: left;
  box-sizing: content-box; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x; }

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */
  /*width:200px;
	height: 100px;*/ }

.swiper-slide {
  /* Specify Slides's Size: */
  /*width: 100%;
	height: 100%;*/ }

.swiper-slide-active {
  /* Specific active slide styling: */ }

.swiper-slide-visible {
  /* Specific visible slide styling: */ }

/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  /* Stylize pagination button: */ }

.swiper-active-switch {
  /* Specific active button style: */ }

.swiper-visible-switch {
  /* Specific visible button style: */ }

html, body {
  height: 100%;
  margin: 0;
  background: #fff; }

body {
  position: relative; }

input, button {
  outline: 0; }

.outer-wrap {
  min-height: 100%; }

.main {
  padding-bottom: 260px; }

.main-index {
  padding-bottom: 0; }

.swiper-container {
  width: 100%;
  position: relative; }
  .swiper-container .swiper-slide {
    position: relative; }
    .swiper-container .swiper-slide img {
      width: 100%;
      height: auto; }

.pagination {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  width: 100%;
  text-align: center; }

.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #5bbec7;
  background: #fff;
  margin: 0 12px;
  cursor: pointer; }

.swiper-active-switch {
  background: #5bbec7; }

.swiper-btn {
  display: block;
  width: 20px;
  height: 35px;
  background: url(../img/sprite.png) no-repeat;
  position: absolute;
  top: 45%;
  z-index: 2; }
  .swiper-btn:hover {
    opacity: 0.6;
    filter: Alpha(opacity=60); }

.swiper-btn-prev {
  left: 10%;
  background-position: 0 -34px; }

.swiper-btn-next {
  right: 10%;
  background-position: -20px -34px; }

.swiper-jxzn {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 600px + 8px); }

.index-con-1 {
  padding: 100px 0 150px; }

.index-con-1-header {
  text-align: center; }
  .index-con-1-header h3 {
    font-weight: normal; }
    .index-con-1-header h3 a {
      display: inline-block;
      width: auto;
      margin: 0 auto; }
      .index-con-1-header h3 a span {
        display: block; }
      .index-con-1-header h3 a .font-cn {
        font-size: 18px; }
      .index-con-1-header h3 a .font-en {
        font-size: 12px;
        color: #666; }
      .index-con-1-header h3 a:after {
        content: '';
        display: block;
        width: 10px;
        height: 3px;
        margin: 5px auto;
        background: #5bbec7;
        border-radius: 4px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .index-con-1-header h3 a:hover:after {
        width: 60px;
        -webkit-transform: width;
                transform: width; }

.index-con-1-icon-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px; }
  .index-con-1-icon-list li {
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .index-con-1-icon-list li a {
      display: inline-block; }
      .index-con-1-icon-list li a:hover i {
        top: -15px; }
      .index-con-1-icon-list li a i {
        display: block;
        width: 78px;
        height: 62px;
        margin: 0 auto 10px;
        background: url(../img/spr2.png) no-repeat;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative;
        top: 0; }
      .index-con-1-icon-list li a span {
        display: block; }
      .index-con-1-icon-list li a .index-con-2-icon-cn {
        font-size: 12px;
        color: #999; }
    .index-con-1-icon-list li .index-con-1-icon-1 i {
      background-position: 0 0px; }
    .index-con-1-icon-list li .index-con-1-icon-2 i {
      background-position: 0 -73px; }
    .index-con-1-icon-list li .index-con-1-icon-3 i {
      background-position: 0 -146px; }
    .index-con-1-icon-list li .index-con-1-icon-4 i {
      background-position: 0 -146px; }
    .index-con-1-icon-list li .index-con-1-icon-5 i {
      background-position: 0 -217px; }

.index-con-1-header-sub {
  margin-top: 70px; }
  .index-con-1-header-sub h3 {
    text-align: center; }
    .index-con-1-header-sub h3 a {
      display: inline-block; }
      .index-con-1-header-sub h3 a span {
        display: block; }
      .index-con-1-header-sub h3 a .font-cn {
        font-size: 24px; }
      .index-con-1-header-sub h3 a .font-en {
        font-size: 21px;
        color: #5bbec7; }

.index-con-1 {
  overflow: hidden; }

.index-con-1 .index-con-1-swiper {
  width: 800px;
  position: relative;
  margin: 10px auto;
  height: 250px;
  padding: 30px 40px; }

.index-con-1 .swiper-container-2 {
  width: 660px;
  height: 250px;
  color: #fff;
  text-align: center; }

.index-con-1 .swiper-slide {
  height: 100%;
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0);
  transform: scale(0); }

.index-con-1 .swiper-slide a {
  display: inline-block; }

.index-con-1 .swiper-slide img {
  height: 100%; }

.index-con-1 .swiper-slide-visible {
  opacity: 0.5;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

.index-con-1 .swiper-slide-active + .swiper-slide-visible {
  opacity: 0.1; }

.index-con-1 .swiper-slide-active {
  top: 0;
  opacity: 1 !important;
  -webkit-transform: scale(1);
  transform: scale(1); }

.index-con-1 .swiper-btn-prev2 {
  left: 0;
  background-position: -56px -34px; }

.index-con-1 .swiper-btn-next2 {
  right: 0;
  background-position: -76px -34px; }

.index-con-2 {
  background: #f0f0f0;
  padding: 60px 0 180px;
  position: relative; }

.index-con-2-content {
  margin-top: 100px; }
  .index-con-2-content .index-con-2-content-left {
    max-width: 48%; }
    .index-con-2-content .index-con-2-content-left .index-con-2-content-title {
      font-size: 24px;
      color: #666;
      margin-bottom: 20px; }
    .index-con-2-content .index-con-2-content-left p {
      font-size: 16px;
      color: #666;
      line-height: 28px; }
  .index-con-2-content .btn-more {
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
    margin-top: 20px; }
  .index-con-2-content .index-con-2-content-right {
    width: 48%; }
    .index-con-2-content .index-con-2-content-right img {
      width: 100%;
      height: auto; }

.index-con-2-list {
  position: absolute;
  bottom: -130px;
  z-index: 999; }
  .index-con-2-list li {
    float: left;
    margin-right: 26px;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .index-con-2-list li:last-child {
      margin: 0; }
    .index-con-2-list li:hover {
      -webkit-transform: scale3d(0.95, 0.95, 0.95);
              transform: scale3d(0.95, 0.95, 0.95); }
    .index-con-2-list li a {
      display: block;
      width: 215px;
      height: 237px;
      padding-top: 30px;
      background: #fff;
      box-shadow: 0px 13px 21px 0px rgba(158, 158, 158, 0.34); }
      .index-con-2-list li a i {
        display: block;
        margin: 0 auto 42px;
        background: url(../img/spr3.png) no-repeat;
        width: 30px;
        height: 30px; }
      .index-con-2-list li a .index-con-2-list-icon1 {
        background-position: 0px 0px; }
      .index-con-2-list li a .index-con-2-list-icon2 {
        background-position: -58px 0; }
      .index-con-2-list li a .index-con-2-list-icon3 {
        background-position: -116px 0; }
      .index-con-2-list li a .index-con-2-list-icon4 {
        background-position: -173px 0; }
      .index-con-2-list li a h4 {
        padding: 0 40px 10px;
        text-align: center;
        font-size: 16px; }
      .index-con-2-list li a span {
        display: inline-block;
        padding: 0 20px;
        color: #aba9a9;
        line-height: 20px;
        text-align: center; }

.date {
  text-align: center;
  background: #5bbec7; }
  .date em {
    display: block;
    font-size: 36px;
    color: #fff;
    font-weight: normal; }
  .date span {
    font-size: 12px;
    color: #fff; }

.index-con-3 {
  padding: 230px 0 100px; }
  .index-con-3 .index-con-1-header {
    margin-bottom: 50px; }
  .index-con-3 .index-con-3-content-left {
    width: 432px; }
  .index-con-3 .index-con-3-content-right {
    width: 453px; }
  .index-con-3 .img-container {
    position: relative; }
    .index-con-3 .img-container img {
      width: 100%;
      height: auto; }
    .index-con-3 .img-container .date {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      width: 48px;
      height: 45px; }
      .index-con-3 .img-container .date img:hover {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1); }
  .index-con-3 .index-con-3-content-left .title {
    font-size: 16px;
    padding: 10px 0; }
  .index-con-3 .index-con-3-content-left .tit {
    font-size: 12px;
    color: #b1b1b1; }
  .index-con-3 .index-con-3-content-left .btn-more {
    margin-top: 10px;
    padding: 0 30px; }
  .index-con-3 .index-con-3-content-right li {
    padding: 10px 0 10px;
    border-bottom: 1px solid #cdcdcd; }
    .index-con-3 .index-con-3-content-right li .date {
      background: none; }
    .index-con-3 .index-con-3-content-right li .news-content {
      width: 378px; }
      .index-con-3 .index-con-3-content-right li .news-content h3 {
        margin-bottom: 8px;
        font-size: 16px; }
        .index-con-3 .index-con-3-content-right li .news-content h3 a:hover {
          color: #5bbec7; }
      .index-con-3 .index-con-3-content-right li .news-content p {
        color: #b1b1b1; }

.index-con-4 {
  background: #f9f9f9;
  padding: 50px 0 80px; }
  .index-con-4 .tip {
    color: #b1b1b1;
    text-align: center; }
  .index-con-4 .index-con-4-content {
    margin-top: 100px; }
  .index-con-4 .index-con-4-content-left {
    width: 264px;
    padding-right: 25px;
    border-right: 1px solid #ccc; }
    .index-con-4 .index-con-4-content-left p {
      padding-left: 30px;
      position: relative; }
      .index-con-4 .index-con-4-content-left p:before {
        content: '';
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/spr.png) no-repeat;
        position: absolute;
        left: 0;
        top: 0; }
      .index-con-4 .index-con-4-content-left p em {
        display: block;
        margin-bottom: 5px; }
      .index-con-4 .index-con-4-content-left p span {
    color:#959393;
        display: block;
        font-size: 12px;
        color: #b1b1b1;
        padding: 3px 0; }
      .index-con-4 .index-con-4-content-left p span i:hover {
    color: #5bbec7;
        cursor: pointer; }
    .index-con-4 .index-con-4-content-left p.address {
      margin-bottom: 30px; }
    .index-con-4 .index-con-4-content-left p.address:before {
      background-position: -22px 0; }
    .index-con-4 .index-con-4-content-left p.phone:before {
      background-position: -53px 0; }
  .index-con-4 .index-con-4-content-right {
    width: 610px; }
    .index-con-4 .index-con-4-content-right .index-con-4-right-upper-left, .index-con-4 .index-con-4-content-right .index-con-4-right-upper-right {
      float: left; }
    .index-con-4 .index-con-4-content-right .index-con-4-right-upper-left {
      margin-right: 12px; }
    .index-con-4 .index-con-4-content-right input {
      display: block;
      width: 200px;
      height: 30px;
      padding: 0 10px;
      border: 1px solid #ccc;
      margin-bottom: 10px; }
    .index-con-4 .index-con-4-content-right textarea {
      width: 353px;
      height: 94px;
      max-width: 353px;
      max-height: 94px;
      border: 1px dotted #ccc;
      outline: 0;
      padding: 10px;
      font-size: 14px;
      background: none;
      font-family: "microsoft yahei"; }
  .index-con-4 .index-con-4-content-right-bottom {
    width: 100%; }
    .index-con-4 .index-con-4-content-right-bottom a {
      text-align: center;
      line-height: 30px;
      border: 1px solid #ccc;
      width: 100%;
      display: block;
      margin-top: 5px; }

.aboutus-con-2 {
  padding: 0 0 100px 0;
  min-height: 400px;
  background: url(../img/biglogo.png) no-repeat center center, url(../img/moutain.png) no-repeat center bottom; }

.intro-list {
  position: relative;
  padding-bottom: 30px; }
  .intro-list:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    margin: 40px auto;
    background: url(../img/line-cir.png) no-repeat center top; }
  .intro-list:after {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: #000;
    z-index: -1; }
  .intro-list li {
    display: block;
    margin: 0 auto 80px;
    position: relative;
    width: 897px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #5bbec7;
    font-size: 18px; }
  .intro-list a {
    position: absolute;
    top: 0px;
    width: 215px;
    text-align: center;
    color: #666;
    line-height: 21px;
    font-size: 16px; }
    .intro-list a:hover {
      color: #5bbec7; }
  .intro-list li:nth-child(odd) {
    background: url(../img/intro-bg.png) no-repeat right center; }
    .intro-list li:nth-child(odd) a {
      right: 24px; }
  .intro-list li:nth-child(even) {
    background: url(../img/intro-bg-2.png) no-repeat left center; }
    .intro-list li:nth-child(even) a {
      left: 24px; }

.aboutus-con-3 {
  height: 410px;
  background: url(../pic/pic5.png) no-repeat center center;
  text-align: center; }
  .aboutus-con-3 h3 {
    font-size: 28px;
    color: #fff;
    padding: 120px 0 20px; }
  .aboutus-con-3 p {
    font-size: 18px;
    color: #ccc;
    line-height: 30px; }
  .aboutus-con-3 .submit-con {
    margin: 20px auto 0;
    width: 580px; }
  .aboutus-con-3 input {
    float: left;
    width: 408px;
    height: 52px;
    border-radius: 15px;
    background: #fff;
    font-size: 18px;
    line-height: 52px;
    padding: 0 10px;
    margin-right: 20px;
    border: 0; }
  .aboutus-con-3 a {
    float: left;
    background: #5bbec7;
    font-size: 24px;
    color: #fff;
    width: 130px;
    height: 52px;
    border-radius: 6px;
    line-height: 52px;
    text-align: center; }

.product-con {
  padding: 100px 0 0; }

.banner-info {
  width: 1200px;
  position: absolute;
  top: 40%;
  right: calc(50% - 600px);
  text-align: right; }
  .banner-info .font-cn {
    font-size: 34px;
    margin-bottom: 10px; }
  .banner-info .font-en {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.2;
    color: #979797;
    margin-bottom: 10px; }

.product-con-1-content {
  position: relative;
  padding: 60px 0; }

.product-con-1-content-left, .product-con-1-content-right {
  width: 204px; }
  .product-con-1-content-left .product-each, .product-con-1-content-right .product-each {
    text-align: center;
    margin-bottom: 20px; }
    .product-con-1-content-left .product-each:hover i:after, .product-con-1-content-right .product-each:hover i:after {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .product-con-1-content-left .product-each .product-icon, .product-con-1-content-right .product-each .product-icon {
      display: inline-block;
      margin: 0 auto 10px; }
    .product-con-1-content-left .product-each i, .product-con-1-content-right .product-each i {
      display: inline-block;
      width: 65px;
      height: 65px;
      position: relative; }
      .product-con-1-content-left .product-each i:before, .product-con-1-content-right .product-each i:before {
        content: '';
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .product-con-1-content-left .product-each i:after, .product-con-1-content-right .product-each i:after {
        content: '';
        display: block;
        width: 65px;
        height: 65px;
        margin: 0 auto;
        background: url(../img/spr.png) no-repeat 0 -29px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transition: all 0.5s;
        transition: all 0.5s; }
  .product-con-1-content-left h3, .product-con-1-content-right h3 {
    font-size: 16px;
    margin-bottom: 10px; }
  .product-con-1-content-left p, .product-con-1-content-right p {
    color: #8c8a8a;
    line-height: 24px; }

.product-con-1-content-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.product-con-1-content-left .product-left-1 i:before {
  width: 47px;
  height: 37px;
  background: url(../img/spr.png) no-repeat 0 -107px; }
.product-con-1-content-left .product-left-2 i:before {
  width: 35px;
  height: 53px;
  background: url(../img/spr.png) no-repeat -65px -159px; }

.product-con-1-content-right .product-right-1 i:before {
  width: 35px;
  height: 35px;
  background: url(../img/spr.png) no-repeat -65px -107px; }
.product-con-1-content-right .product-right-2 i:before {
  width: 39px;
  height: 39px;
  background: url(../img/spr.png) no-repeat 0 -159px; }

.product-con-2-list {
  width: 950px;
  margin: 50px auto 0; }
  .product-con-2-list li {
    float: left;
    background: #f2f1f1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .product-con-2-list li:hover {
      background: #9f9d9d; }
      .product-con-2-list li:hover a, .product-con-2-list li:hover h3, .product-con-2-list li:hover p {
        color: #fff; }
    .product-con-2-list li a {
      display: block;
      width: 315px;
      height: 300px;
      text-align: center; }
      .product-con-2-list li a img {
        width: 315px;
        height: 300px; }
      .product-con-2-list li a h3 {
        font-size: 21px;
        padding-top: 40px;
        margin-bottom: 10px; }
      .product-con-2-list li a h4 {
        margin-bottom: 10px; }
      .product-con-2-list li a p {
        color: #969696;
        padding: 0 20px;
        line-height: 24px;
        text-align: justify; }

.product-con-3 {
  text-align: center;
  padding-bottom: 100px; }

.product-con-3-list {
  width: 1060px; }
  .product-con-3-list li {
    margin: 0 15px 15px 0;
    width: 266px;
    padding: 40px 20px; }
    .product-con-3-list li:nth-child(3n) {
      margin-right: 0; }
    .product-con-3-list li a {
      width: auto;
      height: auto; }
      .product-con-3-list li a img {
        width: auto;
        height: auto; }
      .product-con-3-list li a .name {
        padding-top: 0; }
      .product-con-3-list li a h3, .product-con-3-list li a p {
        text-align: center; }
    .product-con-3-list li .img-con {
      height: 200px; }

.news-con {
  padding: 100px 0 0; }

.news-con-1 {
  padding: 100px 0; }

.news-con-1-content {
  margin: 90px auto 0;
  width: 940px; }
  .news-con-1-content li {
    float: left;
    background: #f8f8f8;
    width: 420px;
    height: 140px;
    padding: 20px;
    margin: 0 20px 20px 0; }
    .news-con-1-content li:nth-child(2n) {
      margin: 0; }
    .news-con-1-content li > a {
      display: inline-block; }
    .news-con-1-content li h3 {
      font-size: 18px;
      height: 46px;
      line-height: 46px; }
      .news-con-1-content li h3 i {
        float: left;
        width: 46px;
        height: 46px;
        background: url(../img/spr.png) no-repeat; }
      .news-con-1-content li h3 .icon-news-1 {
        background-position: 0 -233px; }
      .news-con-1-content li h3 .icon-news-2 {
        background-position: -60px -233px; }
      .news-con-1-content li h3 .icon-news-3 {
        background-position: 0 -287px; }
      .news-con-1-content li h3 .icon-news-4 {
        background-position: -56px -287px; }
    .news-con-1-content li h4, .news-con-1-content li p {
      line-height: 24px; }
    .news-con-1-content li p {
      color: #747474; }

.news-con-2 {
  width: 100%;
  height: 335px;
  padding: 0;
  background: url(../pic/news-bg.jpg) no-repeat center center;
  text-align: right; }
  .news-con-2 .font-cn {
    font-size: 34px; }
  .news-con-2 .font-en {
    font-size: 24px;
    color: #a5abb3; }
  .news-con-2 .tit {
    position: relative;
    top: 120px; }

.news-con-3 {
  padding-bottom: 100px; }
  .news-con-3 .news-con-3-content {
    margin-top: 80px; }
  .news-con-3 .content-left {
    width: 510px; }
    .news-con-3 .content-left > div {
      width: 90%;
      height: 137px;
      background: #f8f8f8;
      padding: 20px;
      overflow: hidden; }
      .news-con-3 .content-left > div h3, .news-con-3 .content-left > div p {
        line-height: 24px; }
      .news-con-3 .content-left > div h3 {
        font-size: 18px;
        margin-bottom: 10px; }
      .news-con-3 .content-left > div p {
        color: #878787;
        text-indent: 2em;
        overflow: hidden; }
    .news-con-3 .content-left .content-1 {
      margin-bottom: 20px; }
  .news-con-3 .content-right {
    margin: 30px 40px 0 0; }

.banner-info-left {
  right: auto;
  left: calc(50% - 600px);
  text-align: left; }

.inter-con-1 .inter-con-1-content {
  padding-top: 50px;
  width: 1120px;
  margin: 0 auto; }
.inter-con-1 .inter-con-1-left {
  width: 460px;
  height: 270px;
  padding: 50px;
  background: #f8f8f8; }
  .inter-con-1 .inter-con-1-left h3 {
    margin-bottom: 25px;
    font-size: 20px; }
  .inter-con-1 .inter-con-1-left p {
    color: #878787;
    font-size: 16px;
    line-height: 30px; }
.inter-con-1 .inter-con-1-right {
  width: 560px;
  height: 370px; }
  .inter-con-1 .inter-con-1-right img {
    width: 560px;
    height: 370px; }
.inter-con-1 .btn-more {
  margin-top: 20px; }

.inter-con-2 img {
  width: 100%; }

.inter-con-3 {
  padding: 100px 0;
  text-align: center; }
  .inter-con-3 .qr-con {
    display: inline-block;
    margin: 50px 50px 0; }
    .inter-con-3 .qr-con img {
      margin-right: 20px; }
    .inter-con-3 .qr-con h3 {
      font-size: 20px;
      margin-top: 50px; }
    .inter-con-3 .qr-con p {
      font-size: 18px; }

.inter-con-4 {
  padding: 100px 0;
  background: #f9f9f9; }
  .inter-con-4 .left {
    width: 50%; }
  .inter-con-4 h3 {
    font-size: 18px;
    margin-bottom: 20px; }
  .inter-con-4 p {
    color: #878787;
    line-height: 24px;
    margin-bottom: 20px; }

.service-con-1 .img-con {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0; }
  .service-con-1 .img-con > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .service-con-1 .img-con > div img {
      display: inline-block;
      width: 220px;
      height: 340px; }

.service-con-2 {
  background: #f0f0f0;
  padding-bottom: 100px;
  text-align: center; }
  .service-con-2 p {
    font-size: 18px;
    color: #676666;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 30px; }

.service-con-3 {
  padding-bottom: 100px;
  text-align: center; }
  .service-con-3 .img-con {
    margin-top: 50px; }

.select-con {
  position: relative;
  display: inline-block;
  border: 1px solid #666;
  border-radius: 10px;
  margin-right: 15px; }
  .select-con select {
	color:#969696;
    border: 0;
    height: 40px;
    line-height: 40px;
    outline: none;
    font-size: 16px;
    padding: 0 40px 0 10px;
    background: none;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
  .select-con:after {
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    right: 11px;
    width: 17px;
    height: 7px;
    background: url(../img/spr.png) no-repeat 0 -350px; }

.banner1-tit {
  width: auto !important;
  display: block;
  margin-bottom: 15px; }
